---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title:"Ingeniero de sistemas",
    company:"Valdoinc",
    description:"Responsable del desarrollo y mantenimiento de aplicaciones web, administración de equipos informáticos y soporte técnico.",
    date:"Actualmente",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
