---
const css = "hover:scale-105 md:hover:scale-110 lg:hover:scale-125 hover:text-sky-400/90 transition cursor-pointer";
---

<header class="flex gap-y-7 md:flex-row justify-between items-center py-5 px-6 w-full fixed bg-gradient-to-r from-[#0A0A0A] to-[#262626] z-50 opacity-100">
  <a href="https://www.linkedin.com/in/bryanflores-dev/" target="_blank" class="flex items-end">
    <img class="w-[25px] md:w-[50px]" src="./terminal.svg" alt="Logo terminal"/>
  </a>
  <nav class="flex flex-row gap-x-4 md:gap-x-7 lg:gap-x-10 opacity-80 text-xs md:text-sm lg:text-base">
    <a class={css} href="#top">Inicio</a>
    <a class={css} href="#experiencia">Experiencia</a>
    <a class={css} href="#proyectos">Proyectos</a>
    <a class={css} href="#sobre-mi">Sobre mí</a>
  </nav>
</header>