<a href={Astro.props.href} class=`flex justify-center items-center gap-x-2 py-2 px-5 bg-stone-950 rounded-3xl border border-white/10 hover:scale-105 hover:bg-gradient-to-r from-sky-950 to-transparent cursor-pointer ${Astro.props.class} transition` target="_blank">
  <slot/>
</a>