<a class="flex justify-center items-center gap-x-2 py-2 px-5 bg-white/5 rounded-3xl border border-white/10 hover:scale-105 hover:bg-gradient-to-r from-blue-600/50 to-transparent cursor-pointer transition" {...Astro.props} target="_blank">
  <slot/>
</a>